@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sora);
  --font-mono: var(--font-geist-mono);
  --font-display: var(--font-display);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #12030a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sora), system-ui, sans-serif;
}
